In [1]:
import pandas as pd
import streamlit as st
import matplotlib.pyplot as plt
import seaborn as sns
from matplotlib.gridspec import GridSpec

In [ ]:
# load dataset
df_item = pd.read_csv("https://raw.githubusercontent.com/RYGcode/Brazilian-E-Commerce-Data-Analysis/main/Cleaned%20Datasets/cleaned_df_item.csv")
df_reviews = pd.read_csv("https://raw.githubusercontent.com/RYGcode/Brazilian-E-Commerce-Data-Analysis/main/Cleaned%20Datasets/cleaned_df_reviews.csv")
df_orders = pd.read_csv("https://raw.githubusercontent.com/RYGcode/Brazilian-E-Commerce-Data-Analysis/main/Cleaned%20Datasets/cleaned_df_orders.csv")
df_products = pd.read_csv("https://raw.githubusercontent.com/RYGcode/Brazilian-E-Commerce-Data-Analysis/main/Cleaned%20Datasets/cleaned_df_products.csv")
df_geolocation = pd.read_csv("https://raw.githubusercontent.com/RYGcode/Brazilian-E-Commerce-Data-Analysis/main/Cleaned%20Datasets/cleaned_df_geolocation.csv")
df_sellers = pd.read_csv("https://raw.githubusercontent.com/RYGcode/Brazilian-E-Commerce-Data-Analysis/main/Cleaned%20Datasets/cleaned_df_sellers.csv")
df_order_pay = pd.read_csv("https://raw.githubusercontent.com/RYGcode/Brazilian-E-Commerce-Data-Analysis/main/Cleaned%20Datasets/cleaned_df_order_pay.csv")
df_customers = pd.read_csv("https://raw.githubusercontent.com/RYGcode/Brazilian-E-Commerce-Data-Analysis/main/Cleaned%20Datasets/cleaned_df_customers.csv")
df_category = pd.read_csv("https://raw.githubusercontent.com/RYGcode/Brazilian-E-Commerce-Data-Analysis/main/Cleaned%20Datasets/cleaned_df_category.csv")

In [ ]:
# merging the datasets
df = pd.merge(df_orders,df_order_pay, on='order_id', how='inner')
df = df.merge(df_reviews, on='order_id', how='inner')
df = df.merge(df_customers, on='customer_id', how='inner')
df = df.merge(df_item, on='order_id', how='inner')
df = df.merge(df_products, on='product_id', how='inner')
df = df.merge(df_sellers, on='seller_id', how='inner')
df = df.merge(df_geolocation, left_on='customer_zip_code_prefix', right_on='geolocation_zip_code_prefix', how='inner')

In [ ]:
df.head()

In [2]:
# load dataset
df_item = pd.read_csv(r"C:\Users\Reinaldo\Documents\GitHub\Brazilian-E-Commerce-Data-Analysis\Cleaned Datasets\cleaned_df_item.csv")
df_reviews = pd.read_csv(r"C:\Users\Reinaldo\Documents\GitHub\Brazilian-E-Commerce-Data-Analysis\Cleaned Datasets\cleaned_df_reviews.csv")
df_orders = pd.read_csv(r"C:\Users\Reinaldo\Documents\GitHub\Brazilian-E-Commerce-Data-Analysis\Cleaned Datasets\cleaned_df_orders.csv")
df_products = pd.read_csv(r"C:\Users\Reinaldo\Documents\GitHub\Brazilian-E-Commerce-Data-Analysis\Cleaned Datasets\cleaned_df_products.csv")
df_geolocation = pd.read_csv(r"C:\Users\Reinaldo\Documents\GitHub\Brazilian-E-Commerce-Data-Analysis\Cleaned Datasets\cleaned_df_geolocation.csv")
df_sellers = pd.read_csv(r"C:\Users\Reinaldo\Documents\GitHub\Brazilian-E-Commerce-Data-Analysis\Cleaned Datasets\cleaned_df_sellers.csv")
df_order_pay = pd.read_csv(r"C:\Users\Reinaldo\Documents\GitHub\Brazilian-E-Commerce-Data-Analysis\Cleaned Datasets\cleaned_df_order_pay.csv")
df_customers = pd.read_csv(r"C:\Users\Reinaldo\Documents\GitHub\Brazilian-E-Commerce-Data-Analysis\Cleaned Datasets\cleaned_df_customers.csv")
df_category = pd.read_csv(r"C:\Users\Reinaldo\Documents\GitHub\Brazilian-E-Commerce-Data-Analysis\Cleaned Datasets\cleaned_df_category.csv")

In [ ]:
# merging the datasets
df_main = pd.merge(df_orders,df_order_pay, on='order_id', how='inner')
df_main = df_main.merge(df_reviews, on='order_id', how='inner')
df_main = df_main.merge(df_customers, on='customer_id', how='inner')
df_main = df_main.merge(df_item, on='order_id', how='inner')
df_main = df_main.merge(df_products, on='product_id', how='inner')
df_main = df_main.merge(df_sellers, on='seller_id', how='inner')
df_main = df_main.merge(df_geolocation, left_on='customer_zip_code_prefix', right_on='geolocation_zip_code_prefix', how='inner')

In [3]:
df_main1 = pd.merge(df_orders,df_order_pay, on='order_id', how='inner')
df_main1 = df_main1.merge(df_reviews, on='order_id', how='inner')

In [6]:
df_order_pay.head()

,Unnamed: 0,order_id,payment_sequential,payment_type,payment_installments,payment_value
0,0,b81ef226f3fe1789b1e8b2acac839d17,1,credit_card,8,99.33
1,1,a9810da82917af2d9aefd1278f1dcfa0,1,credit_card,1,24.39
2,2,25e8ea4e93396b6fa0d3dd708e76c1bd,1,credit_card,1,65.71
3,3,ba78997921bbcdc1373bb41e913ab953,1,credit_card,8,107.78
4,4,42fdf880ba16b47b59251dd489d4441a,1,credit_card,2,128.45

In [4]:
df_main1.head()

,Unnamed: 0_x,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,Unnamed: 0_y,payment_sequential,payment_type,payment_installments,payment_value,Unnamed: 0,review_id,review_score,review_creation_date,review_answer_timestamp
0,0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00,10770,1,credit_card,1,18.12,32790,a54f0611adc9ed256b57ede6b6eb5114,4,2017-10-11 00:00:00,2017-10-12 03:43:48
1,0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00,44246,3,voucher,1,2.00,32790,a54f0611adc9ed256b57ede6b6eb5114,4,2017-10-11 00:00:00,2017-10-12 03:43:48
2,0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00,91130,2,voucher,1,18.59,32790,a54f0611adc9ed256b57ede6b6eb5114,4,2017-10-11 00:00:00,2017-10-12 03:43:48
3,1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13 00:00:00,7652,1,boleto,1,141.46,29158,8d5266042046a06655c8db133d120ba5,4,2018-08-08 00:00:00,2018-08-08 18:37:50
4,2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04 00:00:00,11176,1,credit_card,3,179.12,4323,e73b67b67587f7644d5bd1a52deb1b01,5,2018-08-18 00:00:00,2018-08-22 19:07:58